In [6]:
import pandas as pd
from google.cloud import bigquery
from utils import read_and_render
from UKBInfoMapper import UKBInfoMapper
mapper_info = UKBInfoMapper()

In [7]:
mapper_info.df.columns

Index(['field_id', 'field_name', 'field_title', 'field_id_processed',
       'encoding_meaning', 'encoding_value', 'encoding_id',
       'field_name_processed', 'category_title', 'category_id', 'availability',
       'stability', 'private', 'value_type', 'base_type', 'item_type',
       'strata', 'instanced', 'arrayed', 'sexed', 'units', 'instance_id',
       'instance_min', 'instance_max', 'array_min', 'array_max', 'notes',
       'debut', 'version', 'num_participants', 'item_count', 'showcase_order',
       'cost_do', 'cost_on', 'cost_sc', 'Processed_Data', 'Huma_Data',
       'data_type', 'preprocessing_replace_values_with',
       'preprocessing_steps'],
      dtype='object')

In [4]:
client = bigquery.Client()
path = 'sql/sql_file.sql'
query = read_and_render(path)
result = client.query(query).to_dataframe()
#120107 missing

In [12]:
result.columns = result.columns + '_'

TypeError: Index does not support mutable operations

In [13]:
result = mapper_info._rename_columns_on_data(df=result,original_col="field_id",new_col="field_name")

In [14]:
# time_survival = AssemesmentCenter vs DayofDiagnoses

,_eid_,DateLostToFollow-Up,DateOfAttendingAssessmentCentre,DateOfDeath,Sex,"SeenDoctor(Gp)ForNerves,Anxiety,TensionOrDepression","SeenAPsychiatristForNerves,Anxiety,TensionOrDepression",OverallHealthRating,FrequencyOfDepressedMoodInLast2Weeks,MoodSwings,...,Height,Morning/EveningPerson(Chronotype),AbleToConfide,Tense/'HighlyStrung',TobaccoSmoking,EverUnenthusiastic/DisinterestedForAWholeWeek,PastTobaccoSmoking,_1249_1_,_738_1_,outcome_
0,4060963,None,2008-06-05,None,1.0,-3.0,-3.0,4.0,-3.0,-3.0,...,NaN,-3.0,-3.0,-3.0,NaN,NaN,-3.0,-3.0,-3.0,0
1,3246614,None,2008-04-02,None,0.0,1.0,0.0,2.0,1.0,-3.0,...,NaN,1.0,4.0,1.0,NaN,NaN,4.0,4.0,3.0,0
2,3117697,None,2010-03-16,None,0.0,1.0,1.0,4.0,2.0,-3.0,...,NaN,-1.0,5.0,-3.0,NaN,1.0,4.0,4.0,-1.0,0
3,1373142,None,2010-05-19,None,1.0,0.0,0.0,3.0,1.0,-3.0,...,NaN,4.0,5.0,0.0,NaN,0.0,4.0,4.0,2.0,0
4,4226449,None,2009-09-30,None,1.0,-3.0,0.0,3.0,-1.0,-3.0,...,NaN,4.0,-3.0,-1.0,NaN,0.0,3.0,3.0,-3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106294,5754532,None,2018-12-20,None,NaN,1.0,0.0,2.0,-1.0,-1.0,...,167.0,3.0,1.0,-1.0,NaN,1.0,4.0,4.0,2.0,0
106295,2585451,None,2009-01-23,None,0.0,0.0,0.0,1.0,2.0,-1.0,...,NaN,2.0,5.0,0.0,NaN,NaN,4.0,4.0,4.0,0
106296,5429160,None,2009-04-16,None,1.0,0.0,0.0,2.0,1.0,-1.0,...,NaN,2.0,0.0,0.0,NaN,NaN,1.0,1.0,3.0,0
106297,2200531,None,2008-06-25,None,0.0,0.0,0.0,3.0,1.0,-1.0,...,NaN,3.0,0.0,-1.0,NaN,NaN,3.0,3.0,-1.0,0
106298,2688871,None,2008-08-01,None,0.0,0.0,0.0,2.0,1.0,-1.0,...,NaN,1.0,0.0,-1.0,NaN,NaN,4.0,4.0,-3.0,0

In [ ]:
result.groupby('_eid').max().outcome.value_counts()